repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: check-case-conflict
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.8.1"
    hooks:
      - id: prettier
        exclude: layouts/.*|.*\.md$|.*\.ya?ml$
        args: ["--print-width=120", "--prose-wrap=always"]
  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        args: ["--wrap", "120", "--number"]
        exclude: "^themes/"
        additional_dependencies:
          - mdformat-beautysh
          - mdformat-simple-breaks
          - mdformat-hugo
  - repo: https://github.com/rhysd/actionlint
    rev: "v1.7.11"
    hooks:
      - id: actionlint
  - repo: https://github.com/google/yamlfmt
    rev: v0.21.0
    hooks:
      - id: yamlfmt
        args: ["--formatter", "max_line_length=120,retain_line_breaks=true"]
