.footer {
    font-size: 0.8em;
}
.post {
    max-width: 1024px;
}

/* Background */ .colorscheme-dark .chroma { color: #f8f8f2; background-color: #272822 }
/* Other */ .colorscheme-dark .chroma .x {  }
/* Error */ .colorscheme-dark .chroma .err { color: #960050; background-color: #1e0010 }
/* LineTableTD */ .colorscheme-dark .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .colorscheme-dark .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .colorscheme-dark .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .colorscheme-dark .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .colorscheme-dark .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .colorscheme-dark .chroma .k { color: #66d9ef }
/* KeywordConstant */ .colorscheme-dark .chroma .kc { color: #66d9ef }
/* KeywordDeclaration */ .colorscheme-dark .chroma .kd { color: #66d9ef }
/* KeywordNamespace */ .colorscheme-dark .chroma .kn { color: #f92672 }
/* KeywordPseudo */ .colorscheme-dark .chroma .kp { color: #66d9ef }
/* KeywordReserved */ .colorscheme-dark .chroma .kr { color: #66d9ef }
/* KeywordType */ .colorscheme-dark .chroma .kt { color: #66d9ef }
/* Name */ .colorscheme-dark .chroma .n {  }
/* NameAttribute */ .colorscheme-dark .chroma .na { color: #a6e22e }
/* NameBuiltin */ .colorscheme-dark .chroma .nb {  }
/* NameBuiltinPseudo */ .colorscheme-dark .chroma .bp {  }
/* NameClass */ .colorscheme-dark .chroma .nc { color: #a6e22e }
/* NameConstant */ .colorscheme-dark .chroma .no { color: #66d9ef }
/* NameDecorator */ .colorscheme-dark .chroma .nd { color: #a6e22e }
/* NameEntity */ .colorscheme-dark .chroma .ni {  }
/* NameException */ .colorscheme-dark .chroma .ne { color: #a6e22e }
/* NameFunction */ .colorscheme-dark .chroma .nf { color: #a6e22e }
/* NameFunctionMagic */ .colorscheme-dark .chroma .fm {  }
/* NameLabel */ .colorscheme-dark .chroma .nl {  }
/* NameNamespace */ .colorscheme-dark .chroma .nn {  }
/* NameOther */ .colorscheme-dark .chroma .nx { color: #a6e22e }
/* NameProperty */ .colorscheme-dark .chroma .py {  }
/* NameTag */ .colorscheme-dark .chroma .nt { color: #f92672 }
/* NameVariable */ .colorscheme-dark .chroma .nv {  }
/* NameVariableClass */ .colorscheme-dark .chroma .vc {  }
/* NameVariableGlobal */ .colorscheme-dark .chroma .vg {  }
/* NameVariableInstance */ .colorscheme-dark .chroma .vi {  }
/* NameVariableMagic */ .colorscheme-dark .chroma .vm {  }
/* Literal */ .colorscheme-dark .chroma .l { color: #ae81ff }
/* LiteralDate */ .colorscheme-dark .chroma .ld { color: #e6db74 }
/* LiteralString */ .colorscheme-dark .chroma .s { color: #e6db74 }
/* LiteralStringAffix */ .colorscheme-dark .chroma .sa { color: #e6db74 }
/* LiteralStringBacktick */ .colorscheme-dark .chroma .sb { color: #e6db74 }
/* LiteralStringChar */ .colorscheme-dark .chroma .sc { color: #e6db74 }
/* LiteralStringDelimiter */ .colorscheme-dark .chroma .dl { color: #e6db74 }
/* LiteralStringDoc */ .colorscheme-dark .chroma .sd { color: #e6db74 }
/* LiteralStringDouble */ .colorscheme-dark .chroma .s2 { color: #e6db74 }
/* LiteralStringEscape */ .colorscheme-dark .chroma .se { color: #ae81ff }
/* LiteralStringHeredoc */ .colorscheme-dark .chroma .sh { color: #e6db74 }
/* LiteralStringInterpol */ .colorscheme-dark .chroma .si { color: #e6db74 }
/* LiteralStringOther */ .colorscheme-dark .chroma .sx { color: #e6db74 }
/* LiteralStringRegex */ .colorscheme-dark .chroma .sr { color: #e6db74 }
/* LiteralStringSingle */ .colorscheme-dark .chroma .s1 { color: #e6db74 }
/* LiteralStringSymbol */ .colorscheme-dark .chroma .ss { color: #e6db74 }
/* LiteralNumber */ .colorscheme-dark .chroma .m { color: #ae81ff }
/* LiteralNumberBin */ .colorscheme-dark .chroma .mb { color: #ae81ff }
/* LiteralNumberFloat */ .colorscheme-dark .chroma .mf { color: #ae81ff }
/* LiteralNumberHex */ .colorscheme-dark .chroma .mh { color: #ae81ff }
/* LiteralNumberInteger */ .colorscheme-dark .chroma .mi { color: #ae81ff }
/* LiteralNumberIntegerLong */ .colorscheme-dark .chroma .il { color: #ae81ff }
/* LiteralNumberOct */ .colorscheme-dark .chroma .mo { color: #ae81ff }
/* Operator */ .colorscheme-dark .chroma .o { color: #f92672 }
/* OperatorWord */ .colorscheme-dark .chroma .ow { color: #f92672 }
/* Punctuation */ .colorscheme-dark .chroma .p {  }
/* Comment */ .colorscheme-dark .chroma .c { color: #75715e }
/* CommentHashbang */ .colorscheme-dark .chroma .ch { color: #75715e }
/* CommentMultiline */ .colorscheme-dark .chroma .cm { color: #75715e }
/* CommentSingle */ .colorscheme-dark .chroma .c1 { color: #75715e }
/* CommentSpecial */ .colorscheme-dark .chroma .cs { color: #75715e }
/* CommentPreproc */ .colorscheme-dark .chroma .cp { color: #75715e }
/* CommentPreprocFile */ .colorscheme-dark .chroma .cpf { color: #75715e }
/* Generic */ .colorscheme-dark .chroma .g {  }
/* GenericDeleted */ .colorscheme-dark .chroma .gd { color: #f92672 }
/* GenericEmph */ .colorscheme-dark .chroma .ge { font-style: italic }
/* GenericError */ .colorscheme-dark .chroma .gr {  }
/* GenericHeading */ .colorscheme-dark .chroma .gh {  }
/* GenericInserted */ .colorscheme-dark .chroma .gi { color: #a6e22e }
/* GenericOutput */ .colorscheme-dark .chroma .go {  }
/* GenericPrompt */ .colorscheme-dark .chroma .gp {  }
/* GenericStrong */ .colorscheme-dark .chroma .gs { font-weight: bold }
/* GenericSubheading */ .colorscheme-dark .chroma .gu { color: #75715e }
/* GenericTraceback */ .colorscheme-dark .chroma .gt {  }
/* GenericUnderline */ .colorscheme-dark .chroma .gl {  }
/* TextWhitespace */ .colorscheme-dark .chroma .w {  }

/* Background */ .colorscheme-light .chroma { color: #272822; background-color: #fafafa }
/* Other */ .colorscheme-light .chroma .x {  }
/* Error */ .colorscheme-light .chroma .err { color: #960050; background-color: #1e0010 }
/* LineTableTD */ .colorscheme-light .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .colorscheme-light .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .colorscheme-light .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .colorscheme-light .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .colorscheme-light .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .colorscheme-light .chroma .k { color: #00a8c8 }
/* KeywordConstant */ .colorscheme-light .chroma .kc { color: #00a8c8 }
/* KeywordDeclaration */ .colorscheme-light .chroma .kd { color: #00a8c8 }
/* KeywordNamespace */ .colorscheme-light .chroma .kn { color: #f92672 }
/* KeywordPseudo */ .colorscheme-light .chroma .kp { color: #00a8c8 }
/* KeywordReserved */ .colorscheme-light .chroma .kr { color: #00a8c8 }
/* KeywordType */ .colorscheme-light .chroma .kt { color: #00a8c8 }
/* Name */ .colorscheme-light .chroma .n { color: #111111 }
/* NameAttribute */ .colorscheme-light .chroma .na { color: #75af00 }
/* NameBuiltin */ .colorscheme-light .chroma .nb { color: #111111 }
/* NameBuiltinPseudo */ .colorscheme-light .chroma .bp { color: #111111 }
/* NameClass */ .colorscheme-light .chroma .nc { color: #75af00 }
/* NameConstant */ .colorscheme-light .chroma .no { color: #00a8c8 }
/* NameDecorator */ .colorscheme-light .chroma .nd { color: #75af00 }
/* NameEntity */ .colorscheme-light .chroma .ni { color: #111111 }
/* NameException */ .colorscheme-light .chroma .ne { color: #75af00 }
/* NameFunction */ .colorscheme-light .chroma .nf { color: #75af00 }
/* NameFunctionMagic */ .colorscheme-light .chroma .fm { color: #111111 }
/* NameLabel */ .colorscheme-light .chroma .nl { color: #111111 }
/* NameNamespace */ .colorscheme-light .chroma .nn { color: #111111 }
/* NameOther */ .colorscheme-light .chroma .nx { color: #75af00 }
/* NameProperty */ .colorscheme-light .chroma .py { color: #111111 }
/* NameTag */ .colorscheme-light .chroma .nt { color: #f92672 }
/* NameVariable */ .colorscheme-light .chroma .nv { color: #111111 }
/* NameVariableClass */ .colorscheme-light .chroma .vc { color: #111111 }
/* NameVariableGlobal */ .colorscheme-light .chroma .vg { color: #111111 }
/* NameVariableInstance */ .colorscheme-light .chroma .vi { color: #111111 }
/* NameVariableMagic */ .colorscheme-light .chroma .vm { color: #111111 }
/* Literal */ .colorscheme-light .chroma .l { color: #ae81ff }
/* LiteralDate */ .colorscheme-light .chroma .ld { color: #d88200 }
/* LiteralString */ .colorscheme-light .chroma .s { color: #d88200 }
/* LiteralStringAffix */ .colorscheme-light .chroma .sa { color: #d88200 }
/* LiteralStringBacktick */ .colorscheme-light .chroma .sb { color: #d88200 }
/* LiteralStringChar */ .colorscheme-light .chroma .sc { color: #d88200 }
/* LiteralStringDelimiter */ .colorscheme-light .chroma .dl { color: #d88200 }
/* LiteralStringDoc */ .colorscheme-light .chroma .sd { color: #d88200 }
/* LiteralStringDouble */ .colorscheme-light .chroma .s2 { color: #d88200 }
/* LiteralStringEscape */ .colorscheme-light .chroma .se { color: #8045ff }
/* LiteralStringHeredoc */ .colorscheme-light .chroma .sh { color: #d88200 }
/* LiteralStringInterpol */ .colorscheme-light .chroma .si { color: #d88200 }
/* LiteralStringOther */ .colorscheme-light .chroma .sx { color: #d88200 }
/* LiteralStringRegex */ .colorscheme-light .chroma .sr { color: #d88200 }
/* LiteralStringSingle */ .colorscheme-light .chroma .s1 { color: #d88200 }
/* LiteralStringSymbol */ .colorscheme-light .chroma .ss { color: #d88200 }
/* LiteralNumber */ .colorscheme-light .chroma .m { color: #ae81ff }
/* LiteralNumberBin */ .colorscheme-light .chroma .mb { color: #ae81ff }
/* LiteralNumberFloat */ .colorscheme-light .chroma .mf { color: #ae81ff }
/* LiteralNumberHex */ .colorscheme-light .chroma .mh { color: #ae81ff }
/* LiteralNumberInteger */ .colorscheme-light .chroma .mi { color: #ae81ff }
/* LiteralNumberIntegerLong */ .colorscheme-light .chroma .il { color: #ae81ff }
/* LiteralNumberOct */ .colorscheme-light .chroma .mo { color: #ae81ff }
/* Operator */ .colorscheme-light .chroma .o { color: #f92672 }
/* OperatorWord */ .colorscheme-light .chroma .ow { color: #f92672 }
/* Punctuation */ .colorscheme-light .chroma .p { color: #111111 }
/* Comment */ .colorscheme-light .chroma .c { color: #75715e }
/* CommentHashbang */ .colorscheme-light .chroma .ch { color: #75715e }
/* CommentMultiline */ .colorscheme-light .chroma .cm { color: #75715e }
/* CommentSingle */ .colorscheme-light .chroma .c1 { color: #75715e }
/* CommentSpecial */ .colorscheme-light .chroma .cs { color: #75715e }
/* CommentPreproc */ .colorscheme-light .chroma .cp { color: #75715e }
/* CommentPreprocFile */ .colorscheme-light .chroma .cpf { color: #75715e }
/* Generic */ .colorscheme-light .chroma .g {  }
/* GenericDeleted */ .colorscheme-light .chroma .gd {  }
/* GenericEmph */ .colorscheme-light .chroma .ge { font-style: italic }
/* GenericError */ .colorscheme-light .chroma .gr {  }
/* GenericHeading */ .colorscheme-light .chroma .gh {  }
/* GenericInserted */ .colorscheme-light .chroma .gi {  }
/* GenericOutput */ .colorscheme-light .chroma .go {  }
/* GenericPrompt */ .colorscheme-light .chroma .gp {  }
/* GenericStrong */ .colorscheme-light .chroma .gs { font-weight: bold }
/* GenericSubheading */ .colorscheme-light .chroma .gu {  }
/* GenericTraceback */ .colorscheme-light .chroma .gt {  }
/* GenericUnderline */ .colorscheme-light .chroma .gl {  }
/* TextWhitespace */ .colorscheme-light .chroma .w {  }
