<footer class="footer">
  <!-- prettier-ignore -->
  <section class="container">

    <b>Opinions are my own</b> - {{ .Site.Params.author }} software engineer.
    {{ $date := .Page.Lastmod }} {{ if .GitInfo }} {{ $date = .GitInfo.AuthorDate }} {{ end }}
    Updated&nbsp;{{- $date.UTC.Format "2006-01-02 15:04" -}}&nbsp;UTC
    {{ if .GitInfo }}
      via <a href="https://github.com/gaborbernat/bernat-tech/commit/{{ .GitInfo.Hash }}">{{ .GitInfo.AbbreviatedHash }}</a>
    {{end}}.
    © 2018-{{now.Year }}
  </section>
</footer>
