{{- $u := urls.Parse .Destination -}}
{{- $src := $u.String -}}
{{- $img := false -}}
{{- if not $u.IsAbs -}}
  {{- with or (.Page.Resources.Get $u.Path) (resources.Get $u.Path) -}}
    {{- $img = . -}}
  {{- end -}}
{{- end -}}
{{- $alt := .Text | default .Title -}}
{{- if $img -}}
  {{- $r := partial "responsive-image.html" $img }}
  <img src="{{ $r.src }}" alt="{{ $alt }}"
    srcset="{{ $r.srcset }}" sizes="{{ $r.sizes }}"
    width="{{ $r.width }}" height="{{ $r.height }}"
    loading="lazy" decoding="async">
{{- else if or $u.IsAbs (fileExists (path.Join "static" $u.Path)) -}}
  <img src="{{ $src }}" alt="{{ $alt }}" loading="lazy" decoding="async">
{{- else -}}
  {{- errorf "%s: image %q is not a page resource, global resource or static file, so it would ship as a broken <img>" .Page.File.Path .Destination -}}
{{- end -}}
