{{- $presentations := .Site.Data.presentations -}}
{{- $years := slice -}}
{{- range $presentations -}}
  {{- if not (in $years .year) -}}
    {{- $years = $years | append .year -}}
  {{- end -}}
{{- end -}}
{{- range $year := $years }}
<h2>{{ $year }}</h2>
{{- range $presentations -}}
  {{- if eq .year $year }}
<h3 id="{{ .id }}">
  {{- with .emoji }}{{ . }} {{ end -}}
  {{ .title }}
  {{- with .type }} - {{ . }}{{ end }} - {{ .event -}}
  {{- with .slides }} - <a href="{{ . }}">slides</a>{{ end -}}
  <a class="heading-link" href="#{{ .id }}"><i class="fa-solid fa-link" aria-hidden="true" title="Link to heading"></i><span class="sr-only">Link to heading</span></a>
</h3>
{{- $src := printf "https://www.youtube-nocookie.com/embed/%s?autoplay=1" .youtube -}}
{{- with .start }}{{ $src = printf "%s&start=%d" $src . }}{{ end -}}
<div class="youtube-lazy" data-src="{{ $src }}">
  <img src="https://img.youtube.com/vi/{{ .youtube }}/hqdefault.jpg" alt="YouTube video thumbnail" loading="lazy" decoding="async">
  <button class="youtube-play" aria-label="Play video"><svg viewBox="0 0 68 48"><path d="M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.64 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z" fill="red"/><path d="M45 24L27 14v20" fill="#fff"/></svg></button>
</div>
  {{- end -}}
{{- end -}}
{{- end }}
{{ $js := resources.Get "js/youtube-lazy.js" | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
