{{ if (isset .Params "ci") }}
<a href="https://github.com/{{.Get "org"}}/{{.Get "name"}}/actions/workflows/{{.Get "ci"}}.yaml" target="_blank" rel="noopener">
    <img src="https://github.com/{{.Get "org"}}/{{.Get "name"}}/actions/workflows/{{.Get "ci"}}.yaml/badge.svg" alt="check">
</a>
{{ end }}

<a href="https://pypi.org/project/{{.Get "name"}}" target="_blank" rel="noopener">
    <img src="https://img.shields.io/pypi/v/{{.Get "name"}}?style=flat-square" alt="PyPI">
</a>

<a href="https://pepy.tech/project/{{.Get "name"}}" target="_blank" rel="noopener">
    <img src="https://static.pepy.tech/badge/{{.Get "name"}}/month" alt="PyPI - Downloads">
</a>

<a href="https://github.com/{{.Get "org"}}/{{.Get "name"}}/commits">
<img src="https://img.shields.io/github/last-commit/{{.Get "org"}}/{{.Get "name"}}?logo=python&amp;style=flat-square" alt="GitHub last commit">
</a>

<a href="https://github.com/{{.Get "org"}}/{{.Get "name"}}">
{{.Get "name"}}
</a>

<!-- <img src="https://img.shields.io/pypi/pyversions/{{.Get "name"}}?style=flat-square" alt="PyPI"> -->
